.todos {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  //align-items: center;

  &-item {
    width: calc(50% - 5px);
    max-height: 300px;
    overflow: hidden;
  }

  &-content {
    max-height: 200px;
    overflow: hidden;
  }
}